p{
    word-wrap: break-word;
    text-align: end;
}
.content {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.quoteBlock {
    width: 40vw ;
}
.vl {
    border-left: 6px solid rgb(70, 144, 255);
    height: 30vh;
    margin: 15px;
  }