.freeGames{
    background-image: url('../../../assets/cloudly_forrest.jpg');
    background-size: cover;
    min-height: 100vh;
}
.content{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.small-card {
    margin-left: 35px;
    padding: 14px;
    display: inline-block;
    background-color: rgb(50, 56, 62);
    box-shadow: 4px 3px 8px rgb(24, 24, 24);
    border: none;
    border-radius: 4px;
}

.small-card button {
    background-color: rgb(255, 255, 255);
    color: rgb(32, 86, 173);
    font-size: 17px;
    font-family: 'Segoe UI', Arial;
    font-weight: bolder;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgb(66, 66, 66);
    outline: none;
    padding: 5px;
}

.lastScan{
    margin: 5px;
    margin-top: 2vh;
    text-decoration: underline;
    color: white;
}

.table-me{
    min-width: 65vw;
    max-width: 80vw;
    margin-top: 5vh;
    text-align: center;
    color: white;
    border-collapse: collapse;
    margin-bottom: 20px;
}
.tableE{
    padding: 12px;
    font-weight: normal;
}
.table-head{
    border-bottom: rgb(50,56,62) 6px solid;
}
tr{
    border-top: 1.2px solid rgb(50,56,62);
    background-color: rgba(29, 29, 29, 1);
}
tr:nth-child(even){
    background-color: rgba(35, 35, 35, 1);
}
.link{
    word-break: break-word;
}
.link:hover{
    text-decoration: underline;
}

img {
    max-width: 20px;
    max-height: 20px;
}