@media only screen and (min-width: 821px){
    .navbar-div{
        display: flex;
    }
    .navbar-dropdown{
        display: none;
    }
    .navbar-me{
        justify-content: flex-start;
    }
    .navbar-div{
        margin-left: 8vw;
    }
}
@media only screen and (max-width: 820px){
    .navbar-me{
        justify-content: space-between;
    }
    .navbar-div{
        display: none;
    }
    .navbar-dropdown{
        display: flex;
    }
    .dropdown-content{
        width: 40vw !important;
    }
}


*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.navbar-me{
    display: flex;
    flex-flow: row;
    align-items: center;
    width: 100%;
    height: 80px;
    background: linear-gradient(rgb(70, 144, 255), rgb(84, 124, 204));
    border-bottom: 4px solid rgb(32, 86, 173);
}
.nav-logo{
    width: 17vw;
}
.nav-logo:hover{
    text-decoration: none;
}

.nav-txt{
    margin: 0;
    margin-left: 3vw;
    margin-right: 8vw;
    font-weight: 800;
    color: whitesmoke;
    font-size: 32px;
}
.nav-txt:hover{
    font-size: 35px;
}
.navbar-div{
    min-width: 60vw;
    max-width: 70vw;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
}
.navbar-link{
    text-decoration: none;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(245, 245, 245) !important;
    padding: 12px;
    border-top: solid transparent;
    transition: all 0.4s;
}
.navbar-link:hover{
    color: rgb(136, 203, 219) !important;
    text-decoration: none;  
    border-color: rgb(136, 203, 219);
}




.navbar.navbar-menu ~ .dropdown-content{
    opacity: 1;
}
.dropdown-content{
    position: absolute;
    z-index: 1;
    display: flex;
    flex-flow: column;
    height: auto;
    width: 16.666vw;
    background-color: white;
    margin-top: 17px;
    padding-bottom: 5px;
    padding-top: 5px;
    border-radius: 3px;
    box-shadow: 2px 2px 3px gray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    border: none;
    opacity: 0;
    transition: opacity 0.5s ease;
}
.dropdown-content a{
    padding: 1.6vh;    
    color: darkblue !important;
    font-weight: bolder;
}
.dropdown-content a:hover{
    background-color: lightgrey;
    text-decoration: none;
}
.dropdown-content:hover{
    opacity: 1;
}
.router-link-active:not(:hover){
    color: rgb(50, 211, 163) !important;
}

.navbar-dropdown{
    margin-right: 12px;
    justify-content: flex-end;
}

.navbar-menu{
    background: none;
    border: none;
    outline: none;
}