* {
    margin: 0;
    display: flex;
    flex-flow: column;
    overflow: hidden;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}


.all{
    display: flex;
    height: 100vh;
}
.background-img{
    display: flex;
    flex-flow: column;
    background-image: url(../../../assets/bsp_Racing/20210602145316_1.jpg);
    background-size: cover;
}
.content{
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
}
    .input{
        width: 40vw;
        height: 80vh;
        margin-top: 5vh;
        margin-bottom: 2vh;
        border: solid 1px black;
        background-color: rgba(50, 50, 50, 0.5);
    }
        .div-headline{
            width: 100%;
            padding-top: 1.5vh;
            padding-left: 30px;
            padding-right: 65px;
            display: flex;
            flex-flow: row;
            justify-content: space-between;
        }
            .div-headline p{
                font-size: 35px;
                font-weight: bold;
                text-decoration: underline;
            }
            .inputChangeBTN-div{
                width: 185px;
                background-color: grey;
                border: 0.5px solid black;
                border-radius: 4px;
            }
                .inputChangeBTN{
                    display: flex;
                    justify-content: center;
                    padding: 8px;
                    font-size: 18px;
                    border: none;
                    background-color: transparent;
                    outline: none;
                }
                .inputChangeBTN-div p{
                    display: flex;
                    justify-content: center;
                    font-size: 20px;
                    font-weight: 400;
                }
        .input-content{
            height: 100%;
            display: flex;
            flex-flow: column;
            justify-content: space-evenly;
        }
        .input-div{
            min-height: 15vh;
            margin-left: 30px;
            margin-right: 65px;
            padding-top: 2vh;
            padding-bottom: 10px;
            padding-left: 2vw;
            background-color: rgba(73, 73, 73, 0.9);
            display: flex;
            flex-flow: column;
            border: solid 1px black;
        }
            .input-headline{
                font-size: 28px;
                font-weight: bold;
                margin-bottom: 13px;
            }
            input{
                height: 35px;
                border-radius: 3px;
                border: 1px solid black;
                outline: none;
                background-color: gray;
            }
                input:hover{
                    cursor: pointer;
                }
            .input-content-div{
                display: flex;
                flex-flow: row;
            }
            .raceDistance{
                height: 26vh;
            }
                .sprint-BTN-div{
                    max-width: 350px;
                    height: 40px;
                    margin-bottom: 25px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    background-color: grey;
                    border-radius: 3px;
                    border: 0.5px solid black;
                    outline: none;
                }
                .sprint-BTN-div p{
                    font-size: 20px;
                    color: black;
                }
                .distance-BTN{
                    min-height: 40px;
                    border: none;
                    background-color: transparent;
                    padding: 8px;
                }
                    .output-table tr{
                        display: flex;
                        flex-flow: row;
                    }
                    .output-headline{
                        width: 100px;
                        font-size: 18px;
                    }
                .endurance-div{
                    width: 60%;
                    height: 40px;
                    margin-bottom: 25px;
                    display: flex;
                    flex-flow: row;
                }
                    .endurance-div input{
                        height: 40px;
                        width: 80px !important;
                        margin-right: 10px;
                        text-align: end;
                    }
                    .dropdown{
                        width: 100px !important;
                        font-size: 18px;
                        display: flex;
                        justify-content: center;
                        border-radius: 3px;
                        border: 1px solid black;
                        outline: none;
                        background-color: gray;
                    }
            .lapTimes{
                line-height: 35px;
            }
                .lapTimes input{
                    width: 80px;
                    border-radius: 2px;
                }
                #laptimeMIN{
                    text-align: right;
                }
                #laptimeSEC{
                    padding-left: 8px; 
                }
                .fuel-div{
                    display: flex;
                    vertical-align: bottom;
                    flex-flow: row;
                }
                    .fuel-div input{
                        text-align: right;
                    }
                    .input-div input{
                        width: 80px;
                    }
                    .input-div input::placeholder{
                        color: white;
                    }
                    .input-div input::-ms-input-placeholder{
                        color: white;
                    }
                    .fuel-div p{
                        justify-content: flex-end;
                        margin-left: 10px;
                        font-size: 20px;
                    }
            #fuelTank-div{
                display: flex;
            }
    .result{
        width: 35vw;
        height: 50vh;
        display: flex;
        flex-flow: column;
        background-color: rgba(50, 50, 50, 0.5);
        margin-top: 5vh;
        border: solid 1px black;
    }
        .result-headline{
            background-color: rgba(50, 50, 50, 0.5);
        }    
                .outputHeadline{
                    margin-left: 30px;
                    margin-top: 1vh;
                    font-size: 18px;
                    font-weight: 400;
                }
            .fuelBoxOutput-div{
                display: flex;
                flex-flow: row;
                background-color: rgba(50, 50, 50, 0.5);
            }
            .fuelOutput-div{
                flex: 1 1 auto;
            }
                .fuelOutput{
                    flex-flow: row;
                }
            .boxOutput-div{
                width: 50%;
            }
            .output-div{
                margin: 2vh;
                display: flex;
                flex-flow: row;
            }
                .output-div b{
                    width: 180px;
                    height: 80px;
                    align-items: center;
                    font-size: 65px;
                    line-height: 100%;
                }
                .output-div p{
                    display: flex;
                    justify-content: flex-end;
                    margin-left: 15px;
                    font-size: 20px;
                }
            .saveFuel{
                width: 100%;
            }
                .saveFuel b{
                    height: 100px;
                    width: 210px;
                    font-size: 80px;
                }
.footer {
    height: 45px;
    position: relative;
    background-color: rgba(50, 50, 50, 0.5);
}
    .footer-content{
        flex: 1 1 auto;
        flex-flow: row;
        align-items: center;
        justify-content: space-between;
    }

.aktiv{
    background-color: rgba(70, 144, 255, 0.8) !important;
}
.aktivBTN{
    background-color: rgba(70, 144, 255, 0.8) !important;   
}
button:hover{
    background-color: rgba(194, 218, 255, 0.8) !important;   
}



@media only screen and (max-width: 1200px) {
    *{
        overflow: visible;
    }   
    .content{
        flex-flow: column;
        align-items: center;
    }
    .input{
        width: 60vw;
        height: auto;
        min-height: 90vh;
    }
        input{
            padding-right: 7px;
        }
    .result{
        width: auto;
        min-width: 70vw;
        height: auto;
        min-height: 40vh;
        margin-bottom: 4vh;
    }
}


@media only screen and (max-width: 700px) {
    .input{
        width: 90vw;
    }
        .input-div{
            margin-left: 3vw;
            margin-right: 2vw;
        }
        .raceDistance{
            height: auto;
        }
            .sprint-BTN-div{
                height: auto;
            }
    .div-headline{
        padding-bottom: 2vh;
        display: flex;
        flex-flow: column;
    }
    .input-content{
        margin-bottom: 1vh;
    }
    .result{
        width: auto;
        min-width: 80vw;
        display: flex;
    }
        .output-div{
            width: 100%;
        }
        .fuelBoxOutput-div{
            flex-flow: column;
            justify-content: center;
        }
        .boxOutput-div{
            width: 100%;
            justify-content: center;
        }

}